body {
  margin: 0;
  padding: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family:'Montserrat', sans-serif;
}

@media (prefers-color-scheme: light) {
  :root {

    background-color: #ffffff;
  }


}

